<a href="https://colab.research.google.com/github/smr32/GWDissertation/blob/main/SBIR_T_Tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the necessary libraries:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
from scipy.stats import shapiro
from scipy.stats import f_oneway
from scipy.stats import mannwhitneyu
from statsmodels.stats.outliers_influence import variance_inflation_factor
import matplotlib.pyplot as plt
import scipy.stats as sp

In [ ]:
! pip install scikit-posthocs
import scikit_posthocs as sp

Requirement already satisfied: scikit-posthocs in /usr/local/lib/python3.10/dist-packages (0.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (1.26.4)
Requirement already satisfied: scipy>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (1.13.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (0.14.3)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (2.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (0.13.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from scikit-posthocs) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->scikit-posthocs) (3.1.4)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels->scikit-posthocs) (0.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels->scikit-posthocs) (1.16.0)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Award Amount

In [ ]:
data = pd.read_csv(r'TTest_042824.csv')
# data = pd.read_csv(r'TTest_SBIRPh3Award_AwardAmount_061124.csv')
data.head()

   PhaseII  PhaseIII
0   145000  144504.0
1   150000  150000.0
2   150000  249997.0
3   167175  250000.0
4   182999  299980.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0    145000
1    150000
2    150000
3    167175
4    182999
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0     850365.0
1    4469017.0
2    1499990.0
3    3482480.0
4     749965.0
Name: PhaseIII, dtype: float64

In [ ]:
# y_test_ROC = df_test_y.astype('float')
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()
# print(len(phaseiii.dropna()))

0     749972.0
1     749998.0
2     749978.0
3    1499970.0
4    3999979.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.6757038996872071, pvalue=1.2737895785221965e-29)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.8143965104314093, pvalue=8.326410955227633e-19)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.591559158754226
p-value:  0.11187443883779194

In [ ]:
# alternative='two-sided'
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna(), alternative='less')

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.591559158754226
p-value:  0.05593721941889597

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=68272.0, pvalue=0.0018998544255203567)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.13441004248153393, pvalue=0.0016296892812923908, statistic_location=770000.0, statistic_sign=1)

In [ ]:
# Interpret the results:
alpha = 0.05
if p_value < alpha:
           print("Reject the null hypothesis; there is a significant difference between the petal lengths of Iris setosa and Iris versicolor.")
else:
           print("Fail to reject the null hypothesis; there is no significant difference between the petal lengths of Iris setosa and Iris versicolor.")

Reject the null hypothesis; there is a significant difference between the petal lengths of Iris setosa and Iris versicolor.

In [ ]:
# One-way ANOVA
f_oneway(phaseiionly.dropna(), phaseiii.dropna())

F_onewayResult(statistic=6.805141655974481, pvalue=0.009207351014535708)

In [ ]:
# Kruskal-Wallis test
result = stats.kruskal(phaseiionly.dropna(), phaseiii.dropna())
print(result)

KruskalResult(statistic=14.274600694988859, pvalue=0.00015798232462653836)

In [ ]:
# Dunn's test
# We should perform Dunn’s Test when we have conducted a Kruskal-Wallis test
# and found a significant difference among group medians. Dunn’s Test helps
# identify which specific pairs of groups have significantly different medians
# through pairwise comparisons.
mydata = [phaseiionly.dropna(), phaseiii.dropna()]
p_values = sp.posthoc_dunn(mydata, p_adjust = 'holm')
print(p_values)

          1         2
1  1.000000  0.000158
2  0.000158  1.000000

In [ ]:
print(p_values < 0.05)

       1      2
1  False   True
2   True  False

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Total SBIR Investment

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_TotalSBIRInvestment_061124.csv')
data.head()

    PhaseII    PhaseIII
0   6091636  43069779.0
1    452423  40930593.0
2    452423  40930593.0
3   4983683  40930593.0
4  40930593  40930593.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0     6091636
1      452423
2      452423
3     4983683
4    40930593
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    43069779.0
1    40930593.0
2    40930593.0
3    40930593.0
4    40930593.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0     6091636.0
1      452423.0
2      452423.0
3     4983683.0
4    40930593.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.7138525746709857, pvalue=1.7892556846070696e-23)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.7808717726714584, pvalue=1.9598854139330057e-17)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.869809027190513
p-value:  0.062026371338678936

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=36053.0, pvalue=0.1104875533759734)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.09240304133921155, pvalue=0.17601204360360204, statistic_location=54261739.0, statistic_sign=1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Annual Revenue

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_AnnualRevenue_061124.csv')
data.head()

    PhaseII   PhaseIII
0   4800000  7314611.0
1  10711236  4600000.0
2  10711236  4600000.0
3   8000000  4600000.0
4   4600000  4600000.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0     4800000
1    10711236
2    10711236
3     8000000
4     4600000
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    7314611.0
1    4600000.0
2    4600000.0
3    4600000.0
4    4600000.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0     4800000.0
1    10711236.0
2    10711236.0
3     8000000.0
4     4600000.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.5910840858167424, pvalue=2.7372388748783866e-27)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.5948055670928134, pvalue=3.7444082298237366e-23)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -0.6041541395123741
p-value:  0.545983245070261

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=40433.0, pvalue=0.49804285368772827)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.08642259280557153, pvalue=0.23730952636558486, statistic_location=5646152.0, statistic_sign=-1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Number Employees

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_NumberEmployees_082524.csv')
data.head()

   PhaseII  PhaseIII
0       25      44.0
1       55      42.0
2       49      90.0
3        7      35.0
4       58      40.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0    25
1    55
2    49
3     7
4    58
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    44.0
1    42.0
2    90.0
3    35.0
4    40.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0    25.0
1    55.0
2    49.0
3     7.0
4    58.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.719757678721079, pvalue=2.9247753906131376e-23)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.6925029506075907, pvalue=1.7708082697820818e-20)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -0.34606305184700287
p-value:  0.7294239276475774

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=40262.5, pvalue=0.5558439736658844)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.08099162992780014, pvalue=0.30514869182689836, statistic_location=55.0, statistic_sign=-1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Award Year

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_AwardYear_082524.csv')
data.head()

   PhaseII  PhaseIII
0     2004    2004.0
1     2010    2004.0
2     2008    2010.0
3     2006    2002.0
4     2006    2004.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0    2004
1    2010
2    2008
3    2006
4    2006
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    2004.0
1    2004.0
2    2010.0
3    2002.0
4    2004.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0    2004.0
1    2010.0
2    2008.0
3    2006.0
4    2006.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.953670004902169, pvalue=9.553680618796991e-09)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.960479387195234, pvalue=4.4492986078735515e-06)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  3.450204174911927
p-value:  0.0006019060830023628

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=45720.5, pvalue=0.0006100712196144333)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.1390965433518625, pvalue=0.00847717471565086, statistic_location=2016.0, statistic_sign=-1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Number of Phase I Awards

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_NumberPh1Awards_082524.csv')
data.head()

   PhaseII  PhaseIII
0       13      56.0
1        1      54.0
2        1      54.0
3        7      54.0
4       54      54.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0    13
1     1
2     1
3     7
4    54
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    56.0
1    54.0
2    54.0
3    54.0
4    54.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0    13.0
1     1.0
2     1.0
3     7.0
4    54.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.6779940919040708, pvalue=1.0585144103851182e-24)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.7277286790894995, pvalue=2.3539281470363687e-19)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.3909417386555254
p-value:  0.1647896488082383

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=37431.5, pvalue=0.3785860857447626)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.08389240304133921, pvalue=0.26763243951126814, statistic_location=99.0, statistic_sign=1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Number of Phase II Awards

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_NumberPh2Awards_082524.csv')
data.head()

   PhaseII  PhaseIII
0        8      41.0
1        1      36.0
2        1      36.0
3        4      36.0
4       36      36.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0     8
1     1
2     1
3     4
4    36
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    41.0
1    36.0
2    36.0
3    36.0
4    36.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0     8.0
1     1.0
2     1.0
3     4.0
4    36.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.7140937839335161, pvalue=1.8252555269611337e-23)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.7851001443213007, pvalue=2.878988810409973e-17)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.9038011202833909
p-value:  0.05744297499783605

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=36339.0, pvalue=0.14758398119250823)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.09240304133921155, pvalue=0.17601204360360204, statistic_location=59.0, statistic_sign=1)

Tests for Phase II awards that did not receive a Phase III award and Phase II awards that did receive a Phase III award by Firm Age at Award

In [ ]:
data = pd.read_csv(r'TTest_SBIRPh3Award_FirmAgeatAward_082524.csv')
data.head()

   PhaseII  PhaseIII
0        8      11.0
1       19       0.0
2       17       5.0
3       13       0.0
4        1       0.0

In [ ]:
# Filter the dataset for the two species we want to compare:
phaseiionly = data["PhaseII"]
phaseiii = data["PhaseIII"]

In [ ]:
phaseiionly.head()

0     8
1    19
2    17
3    13
4     1
Name: PhaseII, dtype: int64

In [ ]:
phaseiii.head()

0    11.0
1     0.0
2     5.0
3     0.0
4     0.0
Name: PhaseIII, dtype: float64

In [ ]:
phaseiionly = phaseiionly.astype('float')

In [ ]:
phaseiionly.head()

0     8.0
1    19.0
2    17.0
3    13.0
4     1.0
Name: PhaseII, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiionly.dropna())

ShapiroResult(statistic=0.9254241729192412, pvalue=7.763859923513919e-12)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(phaseiii.dropna())

ShapiroResult(statistic=0.9592702130391273, pvalue=3.2072767589253292e-06)

In [ ]:
# Perform the t-test
t_stat, p_value = stats.ttest_ind(phaseiionly.dropna(), phaseiii.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  0.7670850641488044
p-value:  0.44335078869369826

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(phaseiionly.dropna(), phaseiii.dropna())

MannwhitneyuResult(statistic=39675.0, pvalue=0.7763469705800436)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(phaseiionly.dropna(), phaseiii.dropna())

KstestResult(statistic=0.057542649032010736, pvalue=0.7224040464779385, statistic_location=38.0, statistic_sign=-1)

Tests for Same and Different SYSCOM

In [ ]:
data2 = pd.read_csv(r'TTest_042824_v2.csv')
data2.head()

   SameSYSCOM  DifferentSYSCOM
0  2608339.00         48544.00
1   183522.00       4447062.00
2    28699.51      10000000.00
3  2961330.00       7012246.00
4   616645.00       8094611.05

In [ ]:
# Filter the dataset for the two species we want to compare:
samesyscom = data2["SameSYSCOM"]
differentsyscom = data2["DifferentSYSCOM"]

In [ ]:
samesyscom.head()

0    2608339.00
1     183522.00
2      28699.51
3    2961330.00
4     616645.00
Name: SameSYSCOM, dtype: float64

In [ ]:
differentsyscom.head()

0       48544.00
1     4447062.00
2    10000000.00
3     7012246.00
4     8094611.05
Name: DifferentSYSCOM, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(samesyscom.dropna())

ShapiroResult(statistic=0.5099055171012878, pvalue=1.1540906535130402e-35)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(differentsyscom.dropna())

ShapiroResult(statistic=0.5078758001327515, pvalue=6.666977792207411e-23)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(samesyscom.dropna(), differentsyscom.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  1.3827114173644866
p-value:  0.1671844544070519

In [ ]:
# alternative='two-sided'
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(samesyscom.dropna(), differentsyscom.dropna(), alternative='less')

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  1.3827114173644866
p-value:  0.9164077727964741

In [ ]:
# One-way ANOVA
f_oneway(samesyscom.dropna(), differentsyscom.dropna())

F_onewayResult(statistic=1.9118908637101075, pvalue=0.16718445440705731)

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Award Amount

In [ ]:
data3 = pd.read_csv(r'TTest_SBIRSuccess_AwardAmount_061124.csv')
data3.head()

   NotSuccess    Success
0      441226   749972.0
1      749823   749998.0
2      412591   749978.0
3     1505760  1499970.0
4      749965   850365.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data3["NotSuccess"]
success = data3["Success"]

In [ ]:
notsuccess.head()

0     441226
1     749823
2     412591
3    1505760
4     749965
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0     749972.0
1     749998.0
2     749978.0
3    1499970.0
4     850365.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.7221403185569273, pvalue=1.1824359019934528e-29)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.7537643123342848, pvalue=9.053778975404383e-19)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  0.07350924399251373
p-value:  0.9414190590963241

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=66922.0, pvalue=0.49414715519011776)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.058721671593346084, pvalue=0.5745647899189285, statistic_location=749956.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

F_onewayResult(statistic=0.0054036089523513105, pvalue=0.9414190590961579)

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Total SBIR Investment

In [ ]:
data4 = pd.read_csv(r'TTest_SBIRSuccess_TotalSBIRInvestment_061124.csv')
data4.head()

   NotSuccess     Success
0     6091636  46084090.0
1      452423  46084090.0
2      452423  46084090.0
3     4983683  46084090.0
4    43069779  46084090.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data4["NotSuccess"]
success = data4["Success"]

In [ ]:
notsuccess.head()

0     6091636
1      452423
2      452423
3     4983683
4    43069779
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    46084090.0
1    46084090.0
2    46084090.0
3    46084090.0
4    46084090.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.7469793763396564, pvalue=1.5006308101783382e-28)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.7045721504929534, pvalue=1.9341807379463485e-20)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -10.283156682241305
p-value:  2.1477481059637065e-23

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=41680.0, pvalue=3.759266241740268e-19)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.2963325218802527, pvalue=1.0664152431917289e-13, statistic_location=32708637.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

F_onewayResult(statistic=105.74331135152403, pvalue=2.1477481059626915e-23)

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Annual Revenue

In [ ]:
data5 = pd.read_csv(r'TTest_SBIRSuccess_AnnualRevenue_061124.csv')
data5.head()

   NotSuccess     Success
0     4800000  37625450.0
1    10711236  37625450.0
2    10711236  37625450.0
3     8000000  37625450.0
4     7314611  37625450.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data5["NotSuccess"]
success = data5["Success"]

In [ ]:
notsuccess.head()

0     4800000
1    10711236
2    10711236
3     8000000
4     7314611
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    37625450.0
1    37625450.0
2    37625450.0
3    37625450.0
4    37625450.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.5959619673171244, pvalue=2.75573637069223e-34)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.8226518480057119, pvalue=5.923720340675694e-16)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -1.3619389274134839
p-value:  0.17359626536955824

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=51370.5, pvalue=7.794897029478934e-09)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.3162928186402365, pvalue=1.4264869951675834e-15, statistic_location=22000000.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

F_onewayResult(statistic=1.854877642004191, pvalue=0.17359626536947143)

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Number Employees

In [ ]:
data6 = pd.read_csv(r'TTest_SBIRSuccess_NumberEmployees_082524.csv')
data6.head()

   NotSuccess  Success
0          25    180.0
1          55     53.0
2          49     72.0
3           7     72.0
4          44     44.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data6["NotSuccess"]
success = data6["Success"]

In [ ]:
notsuccess.head()

0    25
1    55
2    49
3     7
4    44
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    180.0
1     53.0
2     72.0
3     72.0
4     44.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.7086937113573384, pvalue=3.217364198584428e-30)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.8791997698981606, pvalue=5.639925633420943e-13)

In [ ]:
# Perform the t-test:
# sp.stats.ttest_ind(data.dropna()['Trait_A'], data.dropna()['Trait_B'])
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  1.735154841160122
p-value:  0.08309420265246706

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=62289.5, pvalue=0.027824992148493443)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.17588970034196952, pvalue=4.433240710419301e-05, statistic_location=56.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Award Year

In [ ]:
data7 = pd.read_csv(r'TTest_SBIRSuccess_AwardYear_082524.csv')
data7.head()

   NotSuccess  Success
0        2004   2014.0
1        2010   2009.0
2        2008   2010.0
3        2006   2010.0
4        2006   2012.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data7["NotSuccess"]
success = data7["Success"]

In [ ]:
notsuccess.head()

0    2004
1    2010
2    2008
3    2006
4    2006
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    2014.0
1    2009.0
2    2010.0
3    2010.0
4    2012.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.9584582348105778, pvalue=1.4282790674663692e-11)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.9700092071170329, pvalue=5.2896900981049557e-05)

In [ ]:
# Perform the t-test:
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -0.862532572844199
p-value:  0.3886501247648887

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=66177.5, pvalue=0.3530865418177579)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.07766765200255028, pvalue=0.24041415496801066, statistic_location=2007.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Number of SBIR Phase I Awards

In [ ]:
data8 = pd.read_csv(r'TTest_SBIRSuccess_NumberPh1Awards_082524.csv')
data8.head()

   NotSuccess  Success
0          13     20.0
1           1     20.0
2           1     20.0
3           7     20.0
4          54     20.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data8["NotSuccess"]
success = data8["Success"]

In [ ]:
notsuccess.head()

0    13
1     1
2     1
3     7
4    54
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    20.0
1    20.0
2    20.0
3    20.0
4    20.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.7011708550057847, pvalue=1.585587719837225e-30)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.6378538619968215, pvalue=2.1283790044326206e-22)

In [ ]:
# Perform the t-test:
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -10.098524047059078
p-value:  1.1560935049769825e-22

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=44800.0, pvalue=2.3025430839450354e-15)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.28352315539326495, pvalue=1.4228097573744692e-12, statistic_location=35.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Number of SBIR Phase II Awards

In [ ]:
data9 = pd.read_csv(r'TTest_SBIRSuccess_NumberPh2Awards_082524.csv')
data9.head()

   NotSuccess  Success
0           8     22.0
1           1     22.0
2           1     22.0
3           4     22.0
4          36     22.0

In [ ]:
# Filter the datset for the two species we want to compare:
notsuccess = data9["NotSuccess"]
success = data9["Success"]

In [ ]:
notsuccess.head()

0     8
1     1
2     1
3     4
4    36
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    22.0
1    22.0
2    22.0
3    22.0
4    22.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.7485725241425726, pvalue=1.7779114919774476e-28)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.7014803109559311, pvalue=1.5441670813203587e-20)

In [ ]:
# Perform the t-test:
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -10.486370352457916
p-value:  3.280520293649318e-24

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=42118.5, pvalue=1.3383103779597822e-18)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.31353967425954904, pvalue=2.533948215155903e-15, statistic_location=21.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

Tests for awards that are NOT SBIR Successes and awards that are SBIR Successes by Firm Age at Award

In [ ]:
data10 = pd.read_csv(r'TTest_SBIRSuccess_FirmAgeatAward_082524.csv')
data10.head()

   NotSuccess  Success
0           8     10.0
1          19      5.0
2          17      6.0
3          13      6.0
4          11      4.0

In [ ]:
# Filter the dataset for the two species we want to compare:
notsuccess = data10["NotSuccess"]
success = data10["Success"]

In [ ]:
notsuccess.head()

0     8
1    19
2    17
3    13
4    11
Name: NotSuccess, dtype: int64

In [ ]:
success.head()

0    10.0
1     5.0
2     6.0
3     6.0
4     4.0
Name: Success, dtype: float64

In [ ]:
# Shapiro-Wilk test for normality
shapiro(notsuccess.dropna())

ShapiroResult(statistic=0.941172878866432, pvalue=3.3184542918267295e-14)

In [ ]:
# Shapiro-Wilk test for normality
shapiro(success.dropna())

ShapiroResult(statistic=0.9803448682090615, pvalue=0.0018947859388227068)

In [ ]:
# Perform the t-test:
t_stat, p_value = stats.ttest_ind(notsuccess.dropna(), success.dropna())

In [ ]:
print("t-test: ", t_stat)
print("p-value: ", p_value)

t-test:  -0.5458129705389199
p-value:  0.5853449741035467

In [ ]:
# Mann-Whitney U Test
mannwhitneyu(notsuccess.dropna(), success.dropna())

MannwhitneyuResult(statistic=64537.0, pvalue=0.14300431279664416)

In [ ]:
# Kolmogorov-Smirnov
stats.ks_2samp(notsuccess.dropna(), success.dropna())

KstestResult(statistic=0.0879050020286327, pvalue=0.1340206334583847, statistic_location=16.0, statistic_sign=1)

In [ ]:
# One-way ANOVA
f_oneway(notsuccess.dropna(), success.dropna())

Test for multicollinearity

In [ ]:
data = pd.read_csv(r'SBIR Navy PhaseII Data_090423_NARemoved_Updated.csv')
data.head()

           Company  ...                                              NOTES
0  3 Phoenix, Inc.  ...  Acquired by Ultra Electronics for $70 million ...
1  3 Phoenix, Inc.  ...  Acquired by Ultra Electronics for $70 million ...
2  3 Phoenix, Inc.  ...  Acquired by Ultra Electronics for $70 million ...
3  3 Phoenix, Inc.  ...  Acquired by Ultra Electronics for $70 million ...
4  3 Phoenix, Inc.  ...  Acquired by Ultra Electronics for $70 million ...

[5 rows x 75 columns]

In [ ]:
# Determine set of independent variables
# X = data[['Award Year', 'Award Amount', 'HUBZone Owned',
#       'Socially and Economically Disadvantaged', 'Women Owned',
#       'Number Employees', 'Annual Revenue', 'Patenting Activity',
#       'Masters Degree', 'Doctoral Degree', 'Non-Navy SBIR Awards',
#       'Non-DoD SBIR Awards', 'STTR Awards', 'SBIR Success', 'VC', 'Firm Age at Award',
#       'Number SBIR Phase I Awards', 'Number SBIR Phase II Awards', 'Total SBIR Investment']]
# y = data['SBIR Phase III']

X = data[['Award Year', 'Award Amount', 'Number Employees', 'Annual Revenue',
          'Firm Age at Award', 'Number SBIR Phase I Awards',
          'Number SBIR Phase II Awards', 'Total SBIR Investment', 'SBIR Phase III']]

In [ ]:
# Code from https://www.geeksforgeeks.org/detecting-multicollinearity-with-vif-python/
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

print(vif_data)

                       feature         VIF
0                   Award Year    6.691698
1                 Award Amount    3.172928
2             Number Employees    3.722296
3               Annual Revenue    2.662127
4            Firm Age at Award    4.672326
5   Number SBIR Phase I Awards   47.664126
6  Number SBIR Phase II Awards  331.854990
7        Total SBIR Investment  241.159861
8               SBIR Phase III    1.654510